version: "3.9"

services:
  db:
    image: postgres:13-alpine
    container_name: postgres_db
    volumes:
      - dev-db-data:/var/lib/postgresql/data
    restart: unless-stopped
    environment:
      - POSTGRES_DB=devdb
      - POSTGRES_USER=devuser
      - POSTGRES_PASSWORD=changeme
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U devuser -d devdb"]
      interval: 5s
      timeout: 5s
      retries: 5

  app:
    container_name: app_scraping
    build:
      context: .
      args:
        - DEV=true
    ports:
      - "8001:8000"
    restart: unless-stopped
    volumes:
      - ./app:/app
      - dev-static-data:/vol/web
    command: >
      sh -c "python manage.py wait_for_db &&
             python manage.py migrate &&
             python manage.py runserver 0.0.0.0:8000"
    environment:
      - DB_HOST=db
      - DB_NAME=devdb
      - DB_USER=devuser
      - DB_PASS=changeme
      - DEBUG=1
    depends_on:
      db:
        condition: service_healthy

  celery:
    container_name: celery_scraping
    build:
      context: ./dcelery
    restart: unless-stopped
    command: celery --app=dcelery worker -l INFO -Q tasks,dead_letter -E -B --without-gossip --without-mingle --without-heartbeat
    volumes:
      - ./dcelery:/usr/src/app/
    environment:
      - DEBUG=1
      - SECRET_KEY=0930jd30j9jd09j09j109fj01j9f
      - ALLOWED_HOSTS=localhost,127.0.0.1
    depends_on:
      - rabbitmq
      - redis
      - db

  rabbitmq:
    image: rabbitmq:3-management-alpine
    container_name: rabbitmq_web
    restart: unless-stopped
    ports:
      - "5673:5672"
      - "15673:15672"

  redis:
    image: redis:7.0.11-alpine
    container_name: redis_cache
    restart: unless-stopped

volumes:
  dev-db-data:
  dev-static-data: